.center-containers{
    display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
}

.register-container {
    width: 300px;
    padding: 20px;
    border-radius: 5px;
    background: linear-gradient(135deg,white,white);
    -webkit-backdrop-filter: blur(10px);
    position: relative;
    box-shadow: 0 0 10px white;
  }
    
